{% extends "base.html" %}
{% load static %}
{% block content %}
	<div class="testinfo">
    <h3 class="testinfo_h">Список доступных тестов</h3>
		<ul class="test_list">
       <li>
         <a class="nav-link" href="{% url 'questions' %}">Testing 1 for engineers</a>
       </li>
       <li class="nav-item">
         <a class="nav-link " href="#">Testing 2 for engineers</a>
       </li>
       <li class="nav-item">
         <a class="nav-link " href="#">Testing 3 for engineers</a>
       </li>
       <li class="nav-item">
         <a class="nav-link " href="#">Testing 4 for engineers</a>
       </li>
       <li class="nav-item">
         <a class="nav-link " href="#">Testing 5 for engineers</a>
       </li>
     </ul>
	</div>
{% endblock %}
