<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Testing System</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>

<body>
	<header class="header">
		<nav class="navbar navbar-expand-lg fixed-top ">
   	<span class="navbar-brand">Система тестирования персонала</span>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
<div class="collapse navbar-collapse " id="navbarSupportedContent">
     <ul class="navbar-nav mr-4">
       
       <li class="nav-item">
         <a class="nav-link" href="#">Главная</a>
       </li>
       <li class="nav-item">
         <a class="nav-link " href="#">О нас</a>
       </li>
       <li class="nav-item">
         <a class="nav-link " href="#">Войти</a>
       </li>
     </ul>
     
   </div>
</nav>
	</header>
	<div class="infobar">
		<p class="infotext">Данная система предназначена для тестирования (подтверждения квалификации) сотрудников организации. Для того, чтобы начать тестирование, <a class="authorization" href="#">войдите</a> в систему.</p>
	</div>
	<script type="text/javascript" src='js/main.js'></script>
</body>
</html>