{% extends "base.html" %}
{% load static %}
{% block content %}
	<div class="infobar">
		<p class="infotext">Данная система предназначена для тестирования (подтверждения квалификации)
            сотрудников организации.
            {% if user.is_authenticated %}
            Нажмите <a href="{% url 'tests' %}">начать</a>, чтобы перейти к выбору теста.
            {% else %}
            Для того, чтобы начать тестирование,
            <a href="{% url 'login' %}">войдите</a> в систему.</p>
            {% endif %}
	</div>
{% endblock %}
