.navbar{
 background:#F97300;
}
.nav-link , .navbar-brand{
 color: #f4f4f4;
 cursor: pointer;
}
.nav-link{
 margin-right: 1em !important;
}
.nav-link:hover{
 background: #f4f4f4;
 color: #f97300;
}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}
.bg-dark{
background-color:#343a40!important
}
.bg-primary{
background-color:#343a40!important
}
.infobar{
	background-color: #F97300;
	width: 700px;
	height: 170px;
	margin-top: 300px;
	margin-left: 580px;
}
.infotext{
	padding: 22px;
	color: white;
	font: arial, sans-serif;
	font-size: 23px;
	text-align: justify;
	word-spacing: 3px;
}
.testinfo {
	background-color: #F97300;
	width: 700px;
	height: 300px;
	margin-top: 300px;
	margin-left: 580px;
	padding: 30px;
}

.testinfo_h{
	text-align: center;
	color: white;

}

li{
	color: white;
}
.authorization{
	background-color: #F97300;
	width: 400px;
	height: 400px;
	margin-top: 300px;
	margin-left: 740px;
	padding: 30px;
}
.auth_h{
	color: white;
	text-align: center;
}
form{
padding-left: 40px;
}

button{

  padding-top: 50px;
  display: inline-block;
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding-left: 40px;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
  margin-left: 30px;

}
button:hover { background: rgba(255,255,255,.2); }
button:active { background: white; }

.logged_out{
    background-color: #F97300;
	width: 700px;
	height: 170px;
	margin-top: 300px;
	margin-left: 580px;
}
