.navbar{
 background:#F97300;
}
.nav-link , .navbar-brand{
 color: #f4f4f4;
 cursor: pointer;
}
.nav-link{
 margin-right: 1em !important;
}
.nav-link:hover{
 background: #f4f4f4;
 color: #f97300;
}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}
.bg-dark{
background-color:#343a40!important
}
.bg-primary{
background-color:#343a40!important
}
.infobar{
	background-color: #F97300;
	width: 700px;
	height: 170px;
	margin-top: 300px;
	margin-left: 580px;
}
.infotext{
	padding: 22px;
	color: white;
	font: arial, sans-serif;
	font-size: 23px;
	text-align: justify;
	word-spacing: 3px;
}
.testinfo {
	background-color: #F97300;
	width: 700px;
	height: 300px;
	margin-top: 300px;
	margin-left: 580px;
	padding: 30px;
}

.testinfo_h{
	text-align: center;
	color: white;

}

li{
	color: white;
}
